@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
	@apply flex flex-wrap py-5 px-3;
}
/* .active {
	border: 1px solid #1abc9c;
	background-color: #1abc9c;
	border-radius: 10%;
	padding: 8px;
} */
#root {
	display: flex;
	flex-direction: column;
	min-height: 100dvh;
}


.loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: block;
    margin:150px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }

  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #FF3D00, 24px 0 #FFF;
    }
    66% {
      background: #FF3D00;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #FF3D00;
    }
  }